@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: url(img/topmobile.jpg);
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__title {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        padding-top: 239px;
        padding-bottom: 33px;
    }

    .top__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .top__button {
        margin-top: 33px;
        margin-bottom: 239px;
    }

    .game-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .seasons {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-top: 51px;
            padding-bottom: 0;
            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                color: #FFFFFF;
            }
            &__text {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
            }
            &__button {
                margin-bottom: 0;
            }
        }
        &__image {
            height: 236px;
            margin-left: 0;
            margin-top: 64px;
            margin-bottom: 85px;
        }
    }

    .words {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &__image {
            order: 2;
            height: 231px;
            margin-bottom: 90px;
        }
        &__right {
            order: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            margin-top: 51px;
            margin-bottom: 64px;
            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                color: #FFFFFF;
            }
            &__text {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
            }
            &__button {
                margin-bottom: 0;
            }
        }
    }

    .puzzles {
        background-image: url(img/puzzlesmobile.jpg);
        &__title {
            padding-top: 51px;
            font-size: 32px;
            line-height: 39px;    
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
        &__button {
            margin-bottom: 487px;
        }
    }




}
